
body {
	margin:40px
	auto;max-width:650px;
	line-height:1.6;
	font-size:16px;
	color: #444;
	padding:0 10px;
}
h1,h2,h3 { 
	line-height:1.2
}
.tabs {
	position: relative;
	min-height: 1800px;
	clear: both;
	margin: 25px 0;
}
.tab {
	float: left;
}
.tab label {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
}
.tab [type=radio] {
    display: none;

}
.content {
	position: absolute;
	top: 31px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid transparent;
  z-index: 2;
  cursor: auto;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

